body {
  background-color: #202020;
  color: #ffffff;
  display: flex;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

#sidebar {
  width: 200px;
  background-color: #121111;
  padding: 20px;
}

#content {
  flex: 1;
  padding: 20px;
}

#chatWindow {
  background-color: #494949;
  color: #ffffff;
  height: 400px;
  width: 750px;
  overflow-y: scroll;
  overflow-x: none;
  border: none;
  padding: 10px;
  font-size: 22px;
  border-radius: 10px;
  text-align: left;
  word-wrap: break-word
}

#chatWindow::-webkit-scrollbar {
  display: none;
}


/*#newChatButton:hover {
  background-color: #45a049;
}*/

#inputMessage {
  width: 750px;
  margin-top: 20px;
  background-color: #494949;
  color: #ffffff;
  border-radius: 10px;
  border: none;
  height: 70px;
  font-size: 22px;
  padding: 10px;
}

#sendMessageButton {
  border: none;
  cursor: pointer;
  width: 170px;
  height: 35px;
  background-color: #364d60;
  color: #ffffff;
  margin-top: 17px;
  border-radius: 10px;
  font-size: 18px;
}

#chatList {
  width: 100%;
  height: 360px;
  background-color: #121111;
  margin-top: 10px;
  overflow-y: scroll;
}

.newChatButton {
  width: 100%;
  height: 35px;
  background-color: #364d60;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.sidebarButton {
  width: 100%;
  height: 35px;
  background-color: #364d60;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 18px;
  border-radius: 10px;
  margin-top: 10px;
}

.chatButton {
  width: 100%;
  height: 30px;
  font-size: 18px;
  background-color: black;
  color: white;
  border: 2px solid white;
  border-radius: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

#chatList::-webkit-scrollbar {
  display: none;
}

dialog {
  position: absolute;
  left: 50%;
  top: 50%; 
  transform: translate(-50%, -50%);
}